<!DOCTYPE html>
<html>
   <head>
      <title>Scribbel</title>
      <meta charset="utf-8">
      <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="style.css" />
      <script src="socket.io/socket.io.js"></script>
      <script src="client.js"></script>
   </head>
   <body>
      <div class="features">
        <div class="draw">
          <canvas id="drawing"></canvas>
        </div>
        <div id="chat" class="chat">
          <div id="chatWindow">

            <ul id="chats">
            <!-- The chat messages will go here -->
            </ul>
          </div>
          <div  id='loginScreen'>
    					<input type="text" id="name" placeholder="Your nick name"></input>
    					<button id="enter" class="btn btn-info">LOGIN</button>
          </div>
          <div id="messageWindow">
            <input type="text" id="message" placeholder="Write something.."></input>
            <button id="send" class="btn btn-info">SEND</button>
          </div>
        </div>
      </div>
      <div class="actions">
        <button id="colorpicker" class="btn btn-info">Random Color</button>
        <button id="save" class="btn btn-success">Save</button>
        <button id="clear" class="btn btn-danger">Clear</button>
        <h1>Scribbel
          <small>Anyone can draw and save!</small>
        </h1>
      </div>
   </body>
</html>
